* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	scroll-padding-top: 2em;
	transition: color .25s;
}

body {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: Arial, sans-serif;
	width: 100%;

	background-color: black;
	color: rgb(233, 233, 233);
	min-width: 312px;

	gap: 2em;
}

#me {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
}

label {
	width: 10em;
	text-align: center;
	white-space: pre-wrap;

	font-size: 1em;
	font-weight: 500;
}

.avatar {
	position: relative;
	width: 128px;
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 50%;
}

.avatar img {
	width: 100%;
}

.title {
	font-size: 3em;
	font-weight: bolder;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.container {
	width: 100%;
	max-width: 720px;
}

.navbar {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1em;
	background-color: rgb(0, 0, 0);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 1000;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .navbar-items {
	display: flex;
	justify-content: flex-end;
	padding: 0.33em;
	padding-right: 1em;
	padding-left: 1em;
	gap: 2.5em;
	list-style: none;
}

.navbar .navbar-items .navbar-item {
	font-weight: bolder;
	font-size: large;
	user-select: none;
}

.navbar .navbar-items .navbar-item a {
	text-decoration: none;
	color: rgb(233, 233, 233);
	transition: color 0.2s ease-in-out;
}

.navbar .navbar-items .navbar-item:hover {
	cursor: pointer;
	color: rgb(255, 255, 255);
	filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
	transition: 0.2s all ease-in-out;
	transform: scale(1.05);
}

.navbar .navbar-items .navbar-item:active {
	transform: scale(0.95);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5em;
}

.section-title {
	font-size: 2.5em;
	font-weight: bolder;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

section {
	padding: 1.5em;
}

#photos img {
	width: 100%;
}

.footer {
	width: 100%;
	padding: 1em;
	background-color: rgb(0, 0, 0);
	color: rgb(233, 233, 233);
	text-align: center;
}

.footer-text {
	font-size: 0.9em;
}

.video {
	width: 100%;
	aspect-ratio: 16/9;
}

.menu {
	display: none;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1em;

	position: fixed;
	top: 0;
	right: 0;
	height: 100%;

	z-index: 100000;
	padding: 1em;

	background-color: black;
	width: 90%;

	transform: translateX(100%);
	transition: 0.75s ease-in-out;
}

.menu-active {
	transform: translateX(0%);
	box-shadow: 0 0 15px 15px black;
}

.menu .menu-items {
	display: flex;
	flex-direction: column;
	gap: 4em;
	margin-top: 0.55em;
	text-decoration: none;
	list-style: none;
}

.menu .menu-items .menu-item a {
	color: white;
	font-size: 32px;
	text-decoration: none;
}

.menu-button {
	position: relative;
	right: 5em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	gap: 0.3em;
	width: 50px;
	aspect-ratio: 1;
}

.menu-button-active {
	right: 0;
}

.menu-button-active .menu-bar:first-child {
	transform: rotate(45deg) translateY(300%);
}

.menu-button-active .menu-bar:nth-child(2) {
	transform: translateX(-100%);
	opacity: 0;
}

.menu-button-active .menu-bar:last-child {
	transform: rotate(-45deg) translateY(-300%);
}

.menu-button .menu-bar {
	background-color: white;
	width: 2em;
	height: 0.25em;
	transition: 0.75s all;
}

.info {
	display: gird;

	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 5em;
	align-items: start;
}

@media screen and (max-width: 768px) {
	.navbar {
		display: none;
	}

	.menu {
		display: flex;
	}

	.character-card {
		flex-direction: column;
		align-items: center;
		gap: 1em;
	}

	.character-card .character-info {
		width: 100%;
	}

	.character-card .character-image {
		width: 100%;
	}
}

body:is(.light-mode),
.light-mode > * {
	background-color: white !important;
	color: rgb(19, 19, 19) !important;
}

.light-mode .navbar .navbar-items .navbar-item a {
	color: black;
}

.light-mode .navbar {
	box-shadow: 0 0 10px white;
}